[submodule "techoffice-java"]
	path = 010-Java
	url = https://github.com/imben1109/techoffice-java.git
[submodule "techoffice-js"]
	path = 030-Javascript/techoffice-js
	url = https://github.com/imben1109/techoffice-js.git
